nav{
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    width: 50%;
}

header{
    color:white;
    background-size: cover;
    font-size: xxx-large;
    text-align:center;
    width:50%;
}

body{
    background-image: url("../img/kassadin_background.jpg");
}
p{
    font-size: xx-large;
    color: white;
    text-align: left;
    width:50%;
}